body {
  margin: 0;
  background: #050505;
  color: white;
  font-family: Arial;
}

button {
  transition: 0.2s;
}

button:hover {
  opacity: 0.9;
}

input,
select,
textarea {
  width: 100%;
  padding: 15px;
  border-radius: 14px;
  border: 1px solid #333;
  background: black;
  color: white;
  margin-top: 15px;
  box-sizing: border-box;
}
